body{
    background-color: darkgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: blue;
}

h2{
    color: rgba(112, 77, 11, 0.916);
}

h3{
    color: beige;
}

h4{
    color: rgba(214, 14, 7, 0.916);
}

p{
    color: rgba(10, 8, 10, 0.916);
}