body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
}

#video{
    border: 2px solid rgb(50, 168, 7);
    width: 800px;
    height: 400px;
}
.controls input{
    border: 2px solid red;
    border-radius: 5px;
    padding: 5px;
    width: 80px;
    height: 25px;
}

.controls button{
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#photos{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.photo{
    margin: 10px;
    position: relative;
}

.photo img{
    width: 160px;
    height: 120px;
    border: 2px solid gray;
}

.photo button{
    position: absolute;
    bottom: 5px;
    left: 27.5%;
    padding: 5px;
    cursor: pointer;
}