body{
    background-image: url(pb_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    image-resolution: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: rgb(158, 193, 223);
    background-color: black;
    margin-top: 10px;
    margin-left: 520px;
    margin-right: 520px;
    border: 4px rgb(43, 186, 33) inset;
    border-radius: 10px;
}

.container{
    border: 2px solid;
    text-align: center;
}

#video{
    width: 1000px;
    height: 400px;
}
.controls input{
    border: 2px solid red;
    border-radius: 5px;
    padding: 5px;
    width: 80px;
    height: 25px;
}

.controls button{
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#photos{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.photo{
    margin: 10px;
    position: relative;
}

.photo img{
    width: 160px;
    height: 120px;
    border: 2px solid gray;
}

.photo button{
    position: absolute;
    bottom: 5px;
    left: 27.5%;
    padding: 5px;
    cursor: pointer;
}